<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\IISSupport\VSIISExeLauncher.exe" arguments="-argFile IISExeLauncherArgs.txt" stdoutLogEnabled="false">
                <environmentVariables>
                    <environmentVariable name="SQLServer:username" value="sa" />
                    <environmentVariable name="SQLServer:password" value="kB3a&amp;c*3&amp;DMmV2" />
                    <environmentVariable name="JwtSettings:Secret" value="hwCf5q9Qci7Wcev4ZVEWEFMeDAFbStAa" />
                </environmentVariables>
            </aspNetCore>
    </system.webServer>
  </location>
</configuration>